<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Pollvoter{%endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"> 
</head>
<body>
{% set unread_count = unread_count if unread_count is defined else 0 %}



    <nav class="navbar">
        
        <div class="navcontainer">
            <a href="{{url_for('main.home')}}" class="navbar-brand">
            <img src="{{url_for('static', filename = 'Pollvoter.png')}}" alt="" class="logoimage">
            Pollvoter</a>
            <div class="navlinks">
                {%if current_user.is_authenticated%}
                <a href="{{url_for('main.home')}}">Home</a>
                <a href="{{url_for('polls.my_polls')}}">My polls</a>
                <a href="{{url_for('polls.create_poll')}}">Create poll</a>
                <a href="{{url_for('polls.listpolls')}}">Polls</a>
                <a href="{{url_for('auth.logout')}}">Log out</a>
                <a href="{{url_for('main.profile')}}">My Profile</a>
                <a href="{{url_for('main.notifications')}}">Notifications</a>

                    {%if current_user.is_authenticated and current_user.is_admin%}
                    <a href="{{url_for('admin.dashboard')}}">Admin panel</a>
                    {%endif%}
                {%else%}
                <a href="{{url_for('auth.login')}}">Login</a>
                <a href="{{url_for('auth.register')}}">Register</a>
                {%endif%}

            </div>
        </div>
    </nav>
    <div class="top-right-buttons" style="background:transparent;border:none;box-shadow: none;">
    <!-- Notifications -->
    <button class="notif-btn">
        🔔
        {% if unread_count > 0 %}
        <span class="notif-badge">{{ unread_count }}</span>
        {% endif %}
    </button>

    <!-- Settings -->
    <button class="settings-btn">
        ⚙️
    </button>
    <button id="toggledarkmode" class="theme-btn">🌙</button>

</div>

    <div style="background:transparent;border:none;box-shadow: none;">
        {% with messages = get_flashed_messages()%}
        {%if messages%}
        <div style="background:transparent;border:none;box-shadow: none;">
            {%for message in messages%}
            <div style="background:transparent;border:none;box-shadow: none;">{{message}}</div>
            {%endfor%}
        </div>
        {%endif%}
        {%endwith%}

    

        {%block content%}{%endblock%}
    </div>

    <footer style="background:transparent;border:none;box-shadow: none;">
        <div style="background:transparent;border:none;box-shadow: none;">
            <p>Have a nice day!</p>
        </div>
    </footer>



    <script src="https://cdn.botpress.cloud/webchat/v3.4/inject.js"></script>
<script src="https://files.bpcontent.cloud/2025/11/15/09/20251115093148-HGRHJZHT.js" defer></script>
    
    <script>
        const button = document.getElementById("toggledarkmode");
        const body = document.body;
        const current_theme = localStorage.getItem("theme");
        if (current_theme === "dark"){
            body.classList.add("dark-mode");
            button.textContent = "☀️";
        }
        button.addEventListener("click", function(){
            body.classList.toggle("dark-mode");
            let theme = "light";
            if (body.classList.contains("dark-mode")){
                theme = "dark";
                button.textContent = "☀️";
            
            }else {
                button.textContent = "🌙";
            }
            localStorage.setItem("theme", theme);
        });
    </script>
</body>
</html>