{% extends "base.html" %}

{% block title %}{{ user.username }}'s Profile - Pollvoter{% endblock %}

{% block content %}
<h1>{{ user.full_name }}'s Profile</h1>
{% if user != current_user %}
    <div class="user-actions mt-3">
        {% if current_user.is_blocking(user) %}
            <form action="{{ url_for('main.unblock', username=user.username) }}" method="POST">
                <button type="submit" class="btn btn-secondary">Unblock User</button>
            </form>
        {% else %}
            <form action="{{ url_for('main.block', username=user.username) }}" method="POST">
                <button type="submit" class="btn btn-danger">Block User</button>
            </form>
        {% endif %}
    </div>
{% endif %}
<img src="{{ user.getpfp() }}" alt="{{ user.username }}'s Profile Picture" width="150" height="150">

<p>Bio: {{ user.bio }}</p>
<p>Total Polls: {{ polls_count }}</p>
<p>Total Votes: {{ total_votes }}</p>
<p>Total Comments: {{ total_comments }}</p>

<h2>{{ user.username }}'s Polls</h2>
<ul>
    {% for poll in user_polls %}
        <li>{{ poll.title }} - Created on {{ poll.created_at }}</li>
    {% endfor %}
</ul>
{% endblock %}
